fieldset{
    border: 1px dashed ;
    border-radius: 5px;
    padding: 5px;
}

legend{
    padding-left: 10px;
    font-size: 2em;
}

input[type="checkbox"]{
    width: auto;
    transform: scale(1.3);
    margin-left: 5px;
}

#dialog-confirm{
    display: none;
}

.dataTables_length, .dataTables_filter, .dataTables_paginate{
    display: flex;
}

.dataTables_filter, .dataTables_paginate{
    justify-content: flex-end;
}

.dataTables_length label, .dataTables_filter label{
    display: flex;
}
